# {{ ansible_managed }} by {{ template_host }}

[[inputs.ping]]
  urls = ["{{ inventory_hostname }}"]
  interval = "60s"
  count = 4
  ping_interval = 1.0
  timeout = 1.0
  deadline = 10

  [inputs.ping.tags]
     geohash="{{ geohash }}"
