# {{ ansible_managed }} by {{ template_host }}

[[inputs.ping]]
  urls = ["{{ inventory_hostname }}"]
  count = 5
  ping_interval = 1.0
  timeout = 5.0

  [inputs.ping.tags]
     geohash="{{ geohash }}"
